@font-face {
    font-family: "ir_sans";
    // src: url("@/assets/fonts/FontsFree-Net-ir_sans.ttf") format("truetype"),
    src: url("@/assets/fonts/IRANSansWeb(FaNum).ttf") format("truetype"),
        // src: url("@/assets/fonts/yekan.ttf") format("truetype"),
        //     url("@/assets//fonts/yekan.eot?#iefix") format("embedded-opentype");
}

$font-family-ir_sans : "ir_sans";